.categories-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.6rem;
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 2.2rem;
}

// display: grid;
// grid-template-columns: repeat(4, 1fr);
// column-gap: 20px;
// row-gap: 50px;
