.categories-main {
  margin: 0 4rem;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.6rem;
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 2.2rem;
}
