.categories-main {
  margin: 0 4rem;

  a {
    font-size: 1.6rem;
    font-weight: 700;
    color: #444;
    transition: all 0.5s;
  }

  a:hover {
    cursor: pointer;
    color: #777;
  }
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.6rem;
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 2.2rem;
}
