.categories-main-category {
  margin: 0 4rem;
  h1 {
    color: #444;
  }
}

.categories-container-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.6rem;
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 2.2rem;
}
